# Mail settings
MAIL=your_email@yandex.ru
PASSWORD=your_app_password

# Message settings
MESSAGE_SUBJECT="subject for email message"
MESSAGE_TEXT="text for email message"
MESSAGE_HTML_TEMPLATE="C:/Users/user/Downloads/resume.html"